* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: sans-serif;
  background: linear-gradient(rgb(47, 150, 163), rgb(48, 62, 143));
  color: white;
}

.location {
  height: 30vh;
}

.temperature {
  display: flex;
  align-items: center;
  cursor: pointer;
}

#temperatureH1 {
  margin-right: 0.5rem;
  font-size: 40px;
}
